body {
    background-color: white;
}

#header {
    
    border: 2px solid red;
    display: flex;
    
}
#header-img {
width: 20%;
}



li{
float: right;
margin-left: 8px;
list-style: none;
text-align: right;
display: inline;
}
a {
    text-decoration: none;
    font-size: 17px;
    color: black;
    padding: 14px 16px;
}
.nav-link {
    float: right;
}